html
{
    color: white;
    background-color: black;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
}

h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    line-height: 50%;
    text-align: center;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
    line-height: 50%;
    text-align: center;
}







.ib-on
{
    background-color: rgb(206, 255, 206);
}

.ib-off
{
    background-color: rgb(255, 204, 204);
}







.info-display
{
    font-family: 'Courier New', Courier, monospace;
    color: gray;
}

.info-display-color
{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(224, 221, 171);
}










#main-container
{
    display: flex;
    width: 100%;

    margin-top: 20px;
}

#left-container
{
    /* border: 1px solid white; */

    display: flex;
    justify-content: center;

    width: 50%;
}

#right-container
{
    /* border: 1px solid white; */

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    margin-top: 30px;
}









input[type=text] 
{
    outline: none;

    border: 0px solid #cdcdcd;
    border-radius: 5px;
    background-color: rgb(24, 24, 24);

    font-family: 'Courier New', Courier, monospace;
    color: white;

    padding: 5px;
    /* max-width: 150px; */
}

button
{
    border: 0px solid #cdcdcd;
    border-radius: 5px;
    background-color: rgb(24, 24, 24);

    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    color: rgb(204, 248, 204);

    padding: 10px;
}

button:hover, input[type=text]:hover
{
    background-color: rgb(40, 40, 40);
}


#goals-container
{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    width: 350px;
}

.goal
{
    border-radius: 5px;
    background-color: rgb(24, 24, 24);

    text-align: center;
    color: white;

    margin: 5px;
}










#session-info
{
    text-align: center;
}

#session-goals
{
    display: flex;
    align-items: center;

    column-gap: 15px;
}











#level-container
{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    height: 100px;
}

#level-header
{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
    width: 100%;
}

#level-area
{
    display: flex;
    align-items: center;

    column-gap: 20px;
    padding: 0px 20px;

    border-radius: 5px;
    background-color: rgb(24, 24, 24);

    color: rgb(245, 184, 209);
    height: 60%;
}







#brain-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brain-icon
{
    width: 150px;
    height: 150px;
}

#brain-info
{
    text-align: center;

    width: 300px;
    padding-top: 40px;
}







#damage,#xpPer,#brainHealth
{
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    padding: 3px;
}

#damage
{
    color: rgb(240, 132, 132);
}
#xpPer
{
    color: rgb(204, 248, 204);
}
#brainHealth
{
    color: rgb(223, 222, 160);
}











/* 

#session-container-main
{
    display: flex;

    height: 750px;
    margin: 20px 0px;
}

#session-container-current, #session-container-previous, #session-container-create
{
    display: flex;
    flex-direction: column;

    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    height: 100%;
    margin: 10px;
} */



/* 

.scrollable
{
    overflow: auto;
    scroll-behavior: smooth;
}

.session-previous-item
{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;

    margin: 10px;
    height: 75px;
}

#previous-sessions
{
    margin: 20px;
} */